@{
    ViewData["Title"] = "Home";
}
<h2>Welcome to the Euro2016 sweepstake!</h2>
<h3>The draw has now happened so get your facepaint out and start supporting your team! </h3>
<p>To view the draw, click on the 'Draw' tab.</p>
